<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Zero-所有项目</title>
    <link rel="stylesheet" href="<%=link%>/manager/fonts/yhd-icon/style.css">
    <link rel="stylesheet" href="<%=link%>/manager/stylesheets/base.css">
    <link rel="stylesheet" href="<%=link%>/manager/stylesheets/manager_projects_list.css">
</head>
<body>
    <header>
        <a href="http://github.com/tvvt/" target="_blank"><h1>Zero</h1><sub>by TvvT</sub></a>
    </header>
    <div class="manager_projects_list">
        <% projects.forEach(function(project,index){%>
            <div class="project-wrapper">
                <div class="folder">
                </div>
                <a href="<%=link%>/<%=project%>/pages"><%=project%></a>
            </div>
        <%})%>
    </div>
    <footer>&copy; TvvT 2014.</footer>
</body>
</html>