<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>1号店UIManager-<%=pageName %></title>
    <link rel="stylesheet" href="/manager/fonts/yhd-icon/style.css">
    <link rel="stylesheet" href="/manager/stylesheets/base.css">
    <link rel="stylesheet" href="/manager/stylesheets/manager_page.css">
</head>
<body manager-module-name="<%=pageName %>">
    <header>
        <h1>1UI</h1>
        <ul id="nav">
            <li class="icon-download" id="showModules"><i>下载模块</i></li>
            <li class="icon-mobile" id="showQrCode"><i>二维码</i></li>
            <li class="icon-browser" id="showSource"><i>查看源码</i></li>
            <!-- <li class="icon-camera"><i>快照</i></li> -->
            <li class="icon-database"><i>页面数据</i></li>
            <li class="icon-info2"><i>显示信息</i></li>
            <li><a href="http://<%= ipAddress%>:<%= serverPort%>/<%=projectName %>/pages/preview/<%=pageName %>" class="icon-earth" target="_origin_view"><i>打开链接</i></a></li>
        </ul>
    </header>

    <div class="manager-content">
        <div class="manager-page-info">
            <div class="manager-info-wrapper">
                <div><label>页面：</label><span class="manager-page-attr-name"><%=pageName||"未知"%></span></div>
                <div><label>开发者：</label><span class="manager-page-attr-developper"></span><%=moduleConfig.developper||"未知"%></div>
                <div><label>邮箱：</label><span class="manager-page-attr-email"></span><%=moduleConfig.email||"未知"%></div>
                <label>配置：</label>
                <pre><%=moduleDataToString%></pre>
            </div>
        </div>

        <div class="manager-page-modules">
            <div class="qrCode">
                <img qrCode="<%=randonNum%>" id="qrCodeImg" src="http://chart.apis.google.com/chart?cht=qr&chl=http://<%= ipAddress%>:<%= serverPort%>/<%=projectName %>/pages/preview/<%=pageName %>?clientId=<%=randonNum%>&chs=200x200" alt="">
            </div>
        </div>

        <div class="manager-page-show">
            <!-- 引入html文件 -->
            <div id="iframe-wrapper">
                <iframe id="page-manager-iframe" name="page-manager-iframe" scrolling="yes" src="/<%=projectName %>/pages/preview/<%=pageName%>" frameborder="0" style="height:100%;overflow:auto;"></iframe>
            </div>
        </div>
        <div class="manager-page-analyse">
            <% for(i=0;i<htmls.length;i++){%>
                <div class="module-ui-wrapper">
                    <%- htmls[i]%>
                    <div class="manager-page-tip">
                        <div class="manager-page-tip-arrow"></div>
                        <span><%=moduleData[modules[i]].uiInfo%></span>
                    </div>
                    <a class="module-ui-download" download href="/<%=projectName %>/components/download/<%=modules[i]%>">点击下载模块</a>
                </div>  
            <%}%>
        </div>

        <div class="board">
            <!-- 查看源码 -->
            <div class="page-source">
                <pre><%=pageSource%></pre>
            </div>
            <!-- 二维码 -->
            <div class="qrCode">
                <img qrCode="<%=randonNum%>" id="qrCodeImg" src="http://chart.apis.google.com/chart?cht=qr&chl=http://<%= ipAddress%>:<%= serverPort%>/<%=projectName %>/pages/preview/<%=pageName %>?clientId=<%=randonNum%>&chs=200x200" alt="">
            </div>
            <div class="close icon-cross3"></div>
        </div>

        <div class="manager-page-qrcode">
           <img qrCode="<%=randonNum%>" id="qrCodeImg" src="http://chart.apis.google.com/chart?cht=qr&chl=http://<%= ipAddress%>:<%= serverPort%>/<%=projectName %>/pages/preview/<%=pageName %>?clientId=<%=randonNum%>&chs=200x200" alt="">
            <div class="page-feedback"></div> 
        </div>


        

    </div>

    <footer>&copy; TvvT 2014.</footer>
    <script type="text/javascript" src="/manager/scripts/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/manager/scripts/manager_page.js"></script>
</body>
</html>