<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Zero-<%=pageName %></title>
    <link rel="stylesheet" href="<%=link%>/manager/fonts/yhd-icon/style.css">
    <link rel="stylesheet" href="<%=link%>/manager/stylesheets/base.css">
    <link rel="stylesheet" href="<%=link%>/manager/stylesheets/manager_page.css">
    <script src="<%=link%>/manager/scripts/jquery-2.1.1.min.js"></script>
</head>
<body page-name="<%=pageName %>" project-name="<%=projectName%>">
    <header>
        <a href="/"><h1>Zero</h1><sub>by TvvT</sub></a>
        <ul id="nav">
            <li class="icon-back"><a href="<%=link%>/<%=projectName%>/pages"><i>返回</i></a></li>
            <li class="icon-download" id="showModules"><a href="<%=managerUrl%>/pages/download/<%=pageName %>"><i>下载</i></a></li>
            <li class="icon-qrcode" id="showQrCode"><i>二维码</i></li>
            <li><a href="http://tvvt.yhd.cn/tvvt/project" class="icon-github" target="_gitlab"><i>gitLab</i></a></li>
            <li><a href="<%=managerUrl %>/pages/preview/<%=pageName %>" class="icon-earth" target="_origin_view"><i>打开链接</i></a></li>
            <li><a href="http://svn.yihaodian.com/svn/source/yihaodian/page/branches/tvvt/<%=projectName%>" class="icon-code" target="_blank"><i>SVN地址</i></a></li>
        </ul>
    </header>

    <div class="manager-content">
        <div class="manager-page-show">
            <div class="tags">
                <ul>
                    <li data-size="320x326">iPhone4 浏览器</li>
                    <li data-size="320x460">iPhone4 内嵌</li>
                    <li data-size="320x459">iPhone5 浏览器</li>
                    <li data-size="320x548">iPhone5 内嵌</li>        
                    <li data-size="540x960">Samsung Galaxy Note 3</li>
                    <li data-size="1024x768">iPad</li>        
                </ul>
            </div>

            <!-- 引入html文件 -->
            <div id="iframe-wrapper">                    
                <%if(prevPageUrl){%>
                    <a href="<%=prevPageUrl%>" class="left icon-arrow-left7"></a>
                <%}%>

                <iframe id="page-manager-iframe" name="page-manager-iframe" scrolling="yes" src="<%=link%>/<%=projectName %>/pages/preview/<%=pageName%>" frameborder="0" style="height:100%;overflow:auto;"></iframe>
                
                <%if(nextPageUrl){%>
                    <a href="<%=nextPageUrl%>" class="right icon-uniE6D9"></a>
                <%}%>
            </div>

        </div>

        <!-- 查看源码 -->
        <div class="board page-source-board">
            <div class="page-source">
                <pre><%=pageSource%></pre>
            </div>
            <div class="close icon-cross3"></div>
        </div>
        <!-- 页面数据 -->
        <div class="board page-data-board">
            <div class="page-data">
                <pre><%=moduleDataToString%></pre>
            </div>
            <div class="close icon-cross3"></div>
        </div>
                
            
        <div class="manager-page-qrcode">
           <img qrCode="<%=randonNum%>" id="qrCodeImg" src="<%=link%>/qr?url=<%=managerUrl %>/pages/preview/<%=pageName %>?clientId=<%=randonNum%>" alt="扫描二维码以在手机端查看">
            <div class="page-feedback"></div> 
        </div>
        
        <div class="manager-page-info">
            <div><label>页面：</label><span class="manager-page-attr-name"><%=moduleConfig.pageName||"未知"%> </span></div>
            <div><label>开发者：</label><span class="manager-page-attr-developer"><%=moduleConfig.developer||"未知"%></span></div>
            <div><label>邮箱：</label><span class="manager-page-attr-email"><%=moduleConfig.email||"未知"%></span></div>
        </div>

    </div>

    <footer>&copy; TvvT 2014.</footer>
    <script type="text/javascript" src="<%=link%>/manager/scripts/manager_page.js"></script>
</body>
</html>
